<div class="container">
  <p>My Tasks today</p>
  <app-task
    *ngFor="let task of tasks"
    [taskItem]="task"
    (deleteTask)="deleteTask($event)"
    (selectTask)="showTaskDetail($event)"
  ></app-task>
  <div class="add-task-container" *ngIf="!selectedTask">
    <p>Add Task</p>
    <div class="task-detail">
      <div>
        Name: <input type="text" #taskName [(ngModel)]="newTask.name" />
      </div>
      <div>
        Description: <input type="text" [(ngModel)]="newTask.description" />
      </div>
      <button class="btn btn-primary" (click)="addTask()">Add</button>
    </div>
  </div>
  <div class="show-task-container" *ngIf="selectedTask">
    <div class="task-name">Task: {{ selectedTask.name }}</div>
    <div class="task-description">
      Description: <span>{{ selectedTask.description }}</span>
    </div>
  </div>
</div>
